/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/home.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.homepage-top-gradient{
  
  background-image: linear-gradient(to top, #ffffff, #e9f5ff, #baf0ff, #75efff, #12ebe8);

}
.homepage-main-heading{
    font-weight: bold;
    font-size:50px;
   
}
